.header {
    width       : 25%;
    padding     : 6px 0 6px 6px;
    display     : flex;
    align-items : center;
    .header {
        // scoping selector, not for styling anything
        &--logo {
            position : relative;

            height   : 25px;
            @media (min-width : 960px) {
                height : 50px;
            }

            &:before {
                content    : '';
                position   : absolute;
                top        : 0;
                right      : 0;
                bottom     : 0;
                left       : 0;
                background : #2ccee6;
                opacity    : 0;
                transition : opacity 0.4s linear, right 0.4s linear, left 0.4s linear, transform 0.4s linear;
            }
            &:hover:before {
                right     : 50%;
                left      : 50%;
                opacity   : 0.6;
                transform : rotate(180deg);
            }

            img {
                display : inline-block;
                height  : 100%;
                width   : auto;
            }

            &--slogan {
                text-align  : left;
                display     : block;
                margin      : 0;
                padding     : 0 3px 0 12px;
                //font-family : $theme--font--monospace;
                font-size   : 1.4rem;
                //color       : $theme--font--gray;
            }
        }
    }
}