@keyframes loading--inwards {
    0% {
        top     : -4px;
        left    : -4px;
        width   : 56px;
        height  : 56px;
        opacity : 0;
    }
    2% {
        opacity : 0;
    }
    50% {
        opacity : 1;
    }
    100% {
        top     : 23px;
        left    : 23px;
        width   : 2px;
        height  : 2px;
        opacity : 0;
    }
}

.loading--inwards{
    position : relative;
    width    : 48px;
    height   : 48px;
    overflow : hidden;

    span {
        position      : absolute;
        border        : 2px solid #b4b4b4;
        opacity       : 0;
        border-radius : 50%;
        animation     : loading--inwards 3.6s cubic-bezier(0, 0.3, 0.8, 1) infinite;
        &:nth-child(2) {
            animation : loading--inwards 3s cubic-bezier(0, 0.3, 0.8, 1) infinite 1.2s;
        }
        &:nth-child(3) {
            animation : loading--inwards 2.4s cubic-bezier(0, 0.3, 0.8, 1) infinite 2.4s;
        }
    }
}