.container-pane {
    display        : flex;
    flex-direction : column;
    height         : 100vh;

    > .content-pane {
        display   : flex;
        height    : 100%;
        width     : 100%;
        overflow  : auto;

        flex-wrap : nowrap;

        > .sidebar {
            display        : flex;
            flex-direction : column;

            width          : 100%;
            height         : auto;
            ul {
                display         : flex;
                // todo: on all sidebars justify-content hides child elements when there are enough that the sidebar scrolls, bug is fixed when:
                justify-content : center;

                position        : relative;

                height          : 100%;

                margin          : 0;
                padding         : 0;
                list-style-type : none;
            }

            li {
                a {
                    display    : block;
                    padding    : 6px 12px 6px 6px;
                    //color      : $theme--font--gray;
                    background : transparent;
                    transition : background 0.4s linear;
                    &:hover {
                        background : rgba(#0d3349, 0.4);
                    }
                    &.active {
                        background : rgba(green, 0.4);
                    }
                    &.error {
                        background : rgba(red, 0.4);
                    }
                }
            }
        }

        > .content {
            display         : flex;
            justify-content : center;
            flex-direction  : column;

            //@include component--content;
            flex-grow       : 4;
            height          : 100%;
            width           : 100%;

            > .auth-error {
                color      : red;
                background : #cccccc;
                text-align : center;
                padding    : 3px;
            }
            /*p {
                color : #ffffff;
            }*/
        }
    }
}