
.loading--logo {
    padding-top     : 12px;
    flex-direction  : row;
    flex-wrap       : wrap;
    display         : flex;
    justify-content : center;
    contain         : content;
    @media (min-width : 960px) {
        padding-top : 24px;
    }

    @media (min-width : 1280px) {
        padding-top : 24px;
    }

    img {
        display : block;
        width  : 225px;
        height : auto;
        @media (min-width : 960px) {
            width  : 125px;
            height : auto;
        }

        @media (min-width : 1280px) {
            padding-top : 24px;
        }
    }
    &--slogan {
        width       : 100%;
        text-align  : center;
        display     : block;
        margin      : 0;
        padding     : 24px 0;
        //font-family : $theme--font--monospace;
        font-size   : 1.6rem;
        color       : #ffffff;
    }
}

.loading--dots {
}